<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Marcar Consulta</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <form
      action="#"
      th:action="@{/consultas/addconsulta}"
      th:object="${consultaDto}"
      method="post"
    >
      <label for="cpfCliente">CPF do Cliente</label>
      <input
        type="text"
        th:field="*{cpfCliente}"
        id="cpfCliente"
        placeholder="CPF do Cliente"
      />
      <span
        th:if="${#fields.hasErrors('cpfCliente')}"
        th:errors="${consultaDto.cpfCliente}"
      ></span>

      <label for="nomeAnimal">Nome do Pet</label>
      <input
        type="text"
        th:field="*{nomeAnimal}"
        id="nomeAnimal"
        placeholder="Nome do Animal"
      />
      <span
        th:if="${#fields.hasErrors('nomeAnimal')}"
        th:errors="${consultaDto.nomeAnimal}"
      ></span>

      <label for="cpfDoutor">CPF do Doutor</label>
      <input
        type="text"
        th:field="*{cpfDoutor}"
        id="cpfDoutor"
        placeholder="CPF do Doutor"
      />
      <span
        th:if="${#fields.hasErrors('cpfDoutor')}"
        th:errors="${consultaDto.cpfDoutor}"
      ></span>

      <label for="tipo">Tipo de Consulta</label>
      <input type="text" th:field="*{tipo}" id="tipo" placeholder="Tipo" />
      <span
        th:if="${#fields.hasErrors('tipo')}"
        th:errors="${consultaDto.tipo}"
      ></span>

      <label for="horario">Data e Horário</label>
      <input
        type="datetime-local"
        th:field="*{horario}"
        id="horario"
        placeholder="Horario"
      />
      <span
        th:if="${#fields.hasErrors('horario')}"
        th:errors="${consultaDto.horario}"
      ></span>

      <label for="duracaoEmMinutos">Duração da consulta (em minutos)</label>
      <input
        type="number"
        step="1"
        th:field="*{duracaoEmMinutos}"
        id="duracaoEmMinutos"
        placeholder="Duração Em Minutos"
      />
      <span
        th:if="${#fields.hasErrors('duracaoEmMinutos')}"
        th:errors="${consultaDto.duracaoEmMinutos}"
      ></span>

      <input type="submit" value="Add Consulta" />
    </form>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
