<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Adicionar Animal</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
  </head>

 <!--  <p th:text=""></p> -->
  <body>
    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-md-4">
          <h1>Criar Animal:</h1>
          
          <form
            action="#"
            th:action="@{/animais/addanimal}"
            th:object="${animalDto}"
            method="post"
          >
            <div class="mb-3">
              <label for="nome" class="form-label">Nome</label>
              <input
                type="text"
                th:field="*{nome}"
                class="form-control"
                id="nome"
                placeholder="Nome"
              />
              <span
                class="text-danger"
                th:if="${#fields.hasErrors('nome')}"
                th:errors="${animalDto.nome}"
              ></span>
            </div>

            <div class="mb-3">
              <label for="dataNasc" class="form-label"
                >Data de Nascimento</label
              >
              <input
                type="date"
                th:field="*{dataNasc}"
                class="form-control"
                id="dataNasc"
              />
              <span
                class="text-danger"
                th:if="${#fields.hasErrors('dataNasc')}"
                th:errors="${animalDto.dataNasc}"
              ></span>
            </div>

            <div class="mb-3">
              <label for="especie" class="form-label">Espécie</label>
              <input
                type="text"
                th:field="*{especie}"
                class="form-control"
                id="especie"
                placeholder="Espécie"
              />
              <span
                class="text-danger"
                th:if="${#fields.hasErrors('especie')}"
                th:errors="${animalDto.especie}"
              ></span>
            </div>

            <div class="mb-3">
              <label for="raca" class="form-label">Raça</label>
              <input
                type="text"
                th:field="*{raca}"
                class="form-control"
                id="raca"
                placeholder="Raça"
              />
              <span
                class="text-danger"
                th:if="${#fields.hasErrors('raca')}"
                th:errors="${animalDto.raca}"
              ></span>
            </div>

            <div class="mb-3" style="display: none !important">
              <label for="idDono">Id Dono</label>
              <input
              type="number"
              step="1"
                th:field="${animalDto.idDono}"
                
                id="idDono"
              />
            </div>

            <br />

            <div th:if="${errorAnimalRepetido}">
              <div th:text="${errorAnimalRepetido}" class="text-danger"></div>
            </div>

            <br />

            <div class="mb-3">
              <input
                type="submit"
                class="btn btn-primary"
                value="Salvar Animal"
              />
              <a class="btn btn-secondary" href="javascript:history.back()"
                >Voltar</a
              >
            </div>
          </form>
        </div>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
