@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Roboto Mono", sans-serif;
}

body{
    background-color:#ffdcd6;
}

.col-md-auto h2{
    margin-block: 10px;
}

.text-center-mb-3{
    font-size: larger;
    background-color: white;
    border: 2px solid ;
    border-radius: 10px;
    text-align: center;

}

.table{
    border: 2px solid;
    
}

.table th {
    border: 2px solid ;
}

