@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(/src/main/resources/static/Assets/Imagem_de_fundo.jpg);
    background-color:#93C572;
    background-size:cover;
}

.nav-itens{
    display: flex;
    
}


.navbar_inicio{
    display: flex;
    justify-content: space-around;
    background-color: #698a50;
    font-family:'Poppins', 'sans-serif';
    margin-top: 30px;
    align-items: center;
    padding: 10px;
    
}
.logo{
    font-weight: 600;
    font-size: 30px;
}

.main-index p{
    font-size: 80px;
    font-weight: 800px;
    margin:150px 150px; 
    align-items: center;
}

