<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Lista de Doutores</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      href="/src/main/resources/static/CSS/estiloindex_demais.css"
    />
  </head>

  <body>
    <div class="container my-5" th:switch="${doutores}">
      <div class="row justify-content-center">
        <div class="col-md-auto">
          <div th:if="${doutores == null}">
            <h2 class="text-center mb-3" th:case="null">
              Ainda não tem doutores!
            </h2>
          </div>

          <div th:if="${doutores}">
            <h2 class="text-center mb-3">Doutores:</h2>
            <table class="table">
              <thead>
                <tr>
                  <th>Nome</th>
                  <th>Data de Nascimento</th>
                  <th>Cpf</th>
                  <th>Email</th>
                  <th>Especialidade</th>
                  <th>Consultas</th>
                  <th>Editar</th>
                  <th>Deletar</th>
                </tr>
              </thead>
              <tbody class="table-group-divider">
                <tr th:each="doutor : ${doutores}">
                  <td th:text="${doutor.nome}"></td>
                  <td th:text="${doutor.dataNasc}"></td>
                  <td th:text="${doutor.cpf}"></td>
                  <td th:text="${doutor.email}"></td>
                  <td th:text="${doutor.especialidade}"></td>
                  <td>
                    <a
                      th:href="@{/consultas/doutor(idDoutor=${doutor.idDoutor})}"
                      >Consultas</a
                    >
                  </td>
                  <td>
                    <a th:href="@{/doutores/edit(id=${doutor.idDoutor})}"
                      >Editar</a
                    >
                  </td>
                  <td>
                    <a th:href="@{/doutores/delete/{id}(id=${doutor.idDoutor})}"
                      >Deletar</a
                    >
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <br />

          <div class="mb-3">
            <a class="btn btn-primary" href="/doutores/signup"
              >Adicione um novo doutor</a
            >
            <a class="btn btn-secondary" href="/home">Menu</a>
          </div>
        </div>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
